/ZENBATZNBK.class
/BATAZBESTETENP.class
/BATAZBESTE.class
/matrices.class
/ZenbPalindromoak.class
/ZenbPalindromoak$Solution.class
/Solution.class
/IntToRoman.class
/Pow.class
/RomanToInt.class
/Auto.class
